<!-- login.tmpl -->
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/authorize/login" method="post">
        <!-- 用户可见的输入字段 -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>


        

        <input type="submit" value="Login">
    </form>
</body>
</html>
